<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">   
        <div class="nav-brand col-md-3">
            <a class="navbar-item" href="#">Dành cho BQL</a>
            <label class="navbar-brand mt-1">Giải đấu Esport</label>
        </div>
        <div class="col-md-10 offset-md-2 mb-4">
            <a class="navbar-item active" href="/esport">Giải đấu |</a>
            <a class="navbar-item active" href="#">Lịch thi đấu |</a>
            <a class="navbarr-item my-3 my-lg-0" href="#">Vận động viên |</a>
            <a class="navbarr-item my-2 my-lg-0" href="#">Danh sách tham gia</a>
            <form class="form-inline mt-2">
        <input class="form-control mr-sm-2" type="search" placeholder="Tên vận động viên" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 mt-2" type="submit">Tìm kiếm</button>
    </form>
        </div>
    </div>
</nav>