<nav id="sidebar">
    <ul class="list-unstyled components">
        <li>
            <a href="/manager/createEsport">Tạo Giải Đấu</a>
        </li>
        <li>
            <a href="/manager/inputPlayerList">Nhập DS Vận Động Viên</a>
        </li>
        <li>
            <a href="#">Xếp Lịch Thi Đấu</a>
        </li>
        <li>
            <a href="/manager/updateCalendar">Điều Chỉnh Lịch Thi Đấu</a>
        </li>
        <li>
            <a href="/manager/updatePlayerList">Cập Nhật DS Thi Đấu</a>
        </li>
        <li>
            <a href="/manager/inputMatchResult">Nhập Kết Quả Trận Đấu</a>
        </li>
        <li>
            <a href="#">Đổi Mật Khẩu</a>
        </li>
    </ul>
</nav>