<nav class="navbar navbar-light bg-light" style="box-shadow: 0 8px 6px -6px #999;">
    <span class="navbar-brand mb-0 h1 p-3">Giải Đấu E-Sport</span>
    <div>
        <a href="#">Username1</a>
        <a href="">
            <i class="fa fa-bell" aria-hidden="true"></i>
        </a>
    </div>
</nav>