<nav id="sidebar">
        <div class="sidebar-header">
            <h3>Giải đấu</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/esport">Các giải đang diễn ra</a>
            </li>
            <li>
                <a href="/esport?active=0">Các giải đã kết thúc</a>
            </li>
        </ul>
</nav>