<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/sidebar.css'>
  {{>head}}
</head>

<body>
  {{{body}}}

</body>

</html>