<!-- As a heading -->
{{>manager_navbar}}

<div class="wrapper">
    <!-- Sidebar -->
    {{>manager_sidebar}}

    <div class="mt-3" id="create-tournament">
        <div class="col-8" style="text-align: center;">
            <h1 style="text-align: center;">Nhập Danh Sách Tuyển Thủ</h1>

            <form action="" method="POST">
                <div class="form-group row mt-4">
                    <label for="ten-giai-dau" class="col-sm-3 col-form-label">Tên Giải Đấu</label>
                    <div class="col-sm-9">
                        <select type="text" class="form-control" id="ten-giai-dau">
                            <option selected>Liên Minh Huyền Thoại lần I</option>
                            <option>Liên Minh Huyền Thoại lần II</option>
                            <option>Liên Minh Huyền Thoại lần III</option>
                            <option>PlayerUnknown's Battle Ground lần IV</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 offset-md-3">
                        <div class="custom-file" style=" width: 30%;">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Nhập Từ File</label>
                        </div>
                        <button class="btn btn-primary mt-1" href="#">Nhập Bằng Tay</button>
                    </div>


                </div>
            </form>
        </div>

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>
    $('#ngay-bat-dau').datetimepicker({
        // format: 'd/m/Y H:i'
        format: 'd/m/Y',
        timepicker: false,
        mask: true,
        value: '01-01-2020'
    });
</script>